@import url(https://fonts.googleapis.com/css?family=Roboto:300);

a {
  color: #000000;
}
body {
  background-color: #e5e8e6;
  background: linear-gradient(to left, #d9e0db, #c5dbcb);
  /*margin: 5s !important;*/
  padding: 0 !important;    
}

.menu ul {
    overflow: hidden;
    background-color: #439744;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.menu li{
  float: left;
}
.menu li a, .menu .dropbtn {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    float: none;
    display: block;
    color: #f2f7f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.menu li a:hover{
    background-color: #2a5b2a;
}

#elementId #logout{
    float : right, !important;
}
.menu li.dropdown {
    display: inline-block;
}

.menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu .dropdown-content a {
    color: black;
    width:  80%;
    text-decoration: none;
    clear:both;
    display: inline-block;
    text-align: left;
    float: left;
}

.menu .dropdown-content a:hover {background-color: #f1f1f1}

.menu .dropdown:hover .dropdown-content {
    display: block;
}


input[type=text],[type=password],[type=email] {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}
/*h1.label {
  -webkit-text-stroke: 1px black;
}*/
input[type=button], input[type=submit], input[type=reset] {
    background-color: grey;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
input:focus {
    border: 3px solid #555;
}


html *{
  font-family: Arial;
}
h1{
  font: 28px sans-serif;

  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
  display:table;
}
h2{
  font: 20px sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
h3{
  font: 20px sans-serif;
  padding: 5px 10px 1px 1px;
  float : right;
  margin-top: 0;
  margin-bottom: 0;
}
._type {
  float : right;
}

.logout {
  font-size: 18px;
  float : right;
  padding: 0px 5px 1px 1px;
  margin-top: 0;
}

.uinfo {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    display:table;
}

a:hover {
  text-decoration: none;
  color: #8b8b8b;
}
._bat{
    float : right;
}
._amt{
    float : right;
}
.axis {
	font: 15px sans-serif;
}
.class {

}
.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}