<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <style type="text/css">
      .error {color: red}
    </style>
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body>
	<div class = "menu">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="/signup">Signup</a></li>
		</ul>
	</div>
	<p class = "error"> You must be logged in to view this page. </p>
</body>
</html>