<!DOCTYPE html>

<html>
  <head>
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
      .done {color: green}
      .forgot {background-color: white; padding: 8px 2px 8px 2px; width: 20%; margin: auto; margin-top: 5%; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);}
      .forgot .butt {background-color: #439744; border: 0;}
      .forgot a {font-size: 11px;}
      .forgot input{outline: 0;background: #f2f2f2; border: 0;padding: 10px;box-sizing: border-box;font-size: 13px;}
    </style> 
    <link rel="shortcut icon" href="/static/favicon.ico">

  </head>

  <body>
    <div  align = "center" class = "forgot">
      <form method="post">
        <table>
          <tr style = "color:red" class = "error"> {{email_error}} </tr>
          <tr>
          <td>
              <input type="email" name="email" value="" placeholder = "email">
            </td>

          </tr>
        </table>

        <input class = "butt" type="submit">
        <div class = "done"> {{done}} </div>
      </form>
    </div>
  </body>

</html>
