<html>
<head>
  <script src="/static/d3.js"></script>
  <script src="/static/dimple.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <title> Member counts per Batch </title>
  <link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body>

<div class = "menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/members/0">Member List</a></li>
    <li><a href="/groups">Groups</a></li>
    <li class = "dropdown">
      <a href="javascript:void(0)" class="dropbtn">Graphs</a>
      <div class="dropdown-content">
        <a href="/graph">Member Count</a>
        <a href="/graph/yearly">RSVP</a>
        <a href="/graph/batch">Count per Batch</a>
      </div>
    </li>
    <div class = "logout">
        <li><a href="/logout">Logout</a></li>
    </div>
  </ul>
</div>

<p>

<h2> Member counts per Batch</h2>


<div id="chartContainer"></div>

</body>
<script type="text/javascript">
    var data = {{members|tojson}};

    var min = data[0].Count;
    // var max = data[0].Count;
    for (var i = 0; i < data.length; i++){
      data[i].order = i;
      if(data[i].Count < min){ 
        min = data[i].Count;
      }
      // if(data[i].Count > max){
      //   max = data[i].Count;
      // }
    };
    var svg = dimple.newSvg("#chartContainer", "100%", "100%");
    var myChart = new dimple.chart(svg, data);
    myChart.setMargins("70px", "20px", "30px", "500px");

      
    //var x = myChart.addCategoryAxis("x", "Name");
    var y = myChart.addMeasureAxis("y", "Count");
    y.fontSize = "12px";
    y.fontFamily = "Arial";

    y.overrideMin = min / 2;
    // y.overrideMax = max + 2;
    var x = myChart.addCategoryAxis("x", "Batch");
    var s = myChart.addSeries("Member Count", dimple.plot.line);
    s.getTooltipText = function (e) {
                return [
                    "Batch: " + e.cx,
                    "Member count: " + e.cy.toLocaleString()
                ];
            };


      y.ticks = 4;
      y.tickInterval = 1;
    // var leg = myChart.addLegend("80%", "5%", 100, 100);
    // leg.fontSize = "auto";
    s.tooltipFontSize = "16px";
    s.tooltipFontFamily = "Arial";
    x.fontSize = "14px";
    x.fontFamily = "Trebuchet MS";
    // Animate a chart over the date field and write the current frame value to the console on update
    // var st = myChart.setStoryboard("Count");
    // st.frameDuration = 600;
    // st.addOrderRule("Count", true);
    // x.floatingBarWidth = 2;
    y.tickFormat = ",d";

    //var s = myChart.addSeries("Count", dimple.plot.bar);


    //x.addOrderRule("Count");

    // myChart.staggerDraw = true;
    // myChart.ease = "sin";
    myChart.draw(/*500*/);
    d3.selectAll("rect").on("click", function (e) {
       document.getElementById("groupsel").value = e.cx;
       document.getElementById("group").submit();
      });
    window.onresize = function () {
      myChart.draw(0, true);
    };
</script>
</html>