<html>
<head>
  <script src="/static/d3.js"></script>
  <script src="/static/dimple.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <title> Yearly RSVP </title>
</head>
<body>

<div class = "menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/members/0">Member List</a></li>
    <li><a href="/groups">Groups</a></li>
    <li class = "dropdown">
      <a href="javascript:void(0)" class="dropbtn">Graphs</a>
      <div class="dropdown-content">
        <a href="/graph">Member Count</a>
        <a href="/graph/yearly">RSVP</a>
        <a href="/graph/batch">Count per Batch</a>
        <a href="/graph/events">Event Totals</a>
      </div>
    </li>
    <div class = "logout">
        <li><a href="/logout">Logout</a></li>
    </div>
  </ul>
</div>

<p>

<h2> RSVP per year</h2>
<div id = "query"><p><h2><b>Please click a bar to view data</b></h2><p>&emsp;  <p> &emsp;<p>&emsp; </div>
<div id="chartContainer"></div>

</body>
<script type="text/javascript">
    var data = {{groups|tojson}};
    var events = {{events}};

    var svg = dimple.newSvg("#chartContainer", "100%", "100%");
    var myChart = new dimple.chart(svg, data);

    myChart.setMargins("65px", "20px", "30px", "500px");
    myChart.assignColor("RSVP", "#3366cc");

    
    var y = myChart.addMeasureAxis("y", "Total RSVP");
    y.fontSize = "12px";
    y.fontFamily = "Arial";

    // var y2 = myChart.addMeasureAxis("y", "Events");

    var x = myChart.addCategoryAxis("x", ["Year", "Region"]);
    var s = myChart.addSeries("RSVP", dimple.plot.bar);
    x.fontSize = "14px";
    y.tickFormat = ",d";
    y.ticks = 4;

    var leg = myChart.addLegend("90%", "0%", 70, 70);
    leg.fontSize = "auto";

    s.tooltipFontSize = "16px";
    s.tooltipFontFamily = "Arial";

 
    // var s2 = myChart.addSeries(null, dimple.plot.line, [x,y2]);
    // s2.data = ev;

    //x.addOrderRule("Count");

    s.getTooltipText = function (e) {
      return [
          "Year: " + e.cx,
          "Total RSVP: " + e.cy.toLocaleString(),
          "Total events: " + events[e.cx],
          "Average RSVP: " + (e.cy / events[e.cx]).toFixed(2)
      ];
    };
    s.afterDraw = function (s, d) {

      var shape = d3.select(s);
      svg.append("text")
        .attr("x", parseFloat(shape.attr("x")) + shape.attr("width") / 2)
        .attr("y", parseFloat(shape.attr("y")) + (shape.attr("height") > 30 ? (shape.attr("height") / 2 + 8) : - 10))
        .style("text-anchor", "middle")
        .style("font-size", "16px")
        .style("fill", "c7c5ea")
        // .style("stroke", "black")
        // .style("stroke-width", "1px")
        .style("text-shadow",   "-1px -1px 0 #000,  1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000")
        .attr("class", "label")
        .text(d.yValue.toLocaleString());

    };
    // myChart.staggerDraw = true;
    // myChart.ease = "sin";
    myChart.draw(500);
    d3.selectAll("rect").on("click", function (e) {
       var str = "<p>Year: " + e.cx + "<p>Total RSVP: " + e.cy.toLocaleString() + "<p>Total events: " + events[e.cx] + "<p>Average RSVP: " + (e.cy / events[e.cx]).toFixed(2);
       document.getElementById("query").innerHTML = str;
      });
    window.onresize = function () {
      myChart.draw(0, true);
    };
</script>
</html>