<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<title>Index</title>
	<link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body>
    
<!-- 	<ul class = "menu">
	  <li><a href="/login">Login</a></li>
	  <li><a href="signup">Signup</a></li>
	  </li>
	</ul> -->
	<div class = "menu">
		<ul>
			<li><a href="/">Home</a></li>
			{% if not user %}
			<li><a href="/login">Login</a></li>
			<li><a href="/signup">Signup</a><li>
			{% endif %}
			<li><a href="/members/0">Member List</a></li>
			<li><a href="/groups">Groups</a></li>
			<li class = "dropdown">
		      <a href="javascript:void(0)" class="dropbtn">Graphs</a>
		      <div class="dropdown-content">
		        <a href="/graph">Member Count</a>
		        <a href="/graph/yearly">RSVP</a>
		        <a href="/graph/batch">Count per Batch</a>
		        <a href="/graph/events">Event Totals</a>
		      </div>
		    </li>
			{% if user %}
			<div class = "logout">
				<li class = "dropdown">
			      <a href="javascript:void(0)" class="dropbtn">Stats</a>
			      <div class="dropdown-content">
			        <a href="#">Batch: {{batch}} </a>
			        <a href="#">Groups: {{groupn}}</a>
			      </div>
			    </li>

				<li><a href="/logout">Logout</a></li>
			</div>
			{% endif %}
		</ul>
	</div>
	<br>
	{% if user %}
    <h3> Welcome, {{ user }} </h3>
    {% endif %}
    <a href = "http://www.mongodb.com"> <img src = "static/mongodb_logo.png" style = "float:left;" width="13%" height="13%"/></a>
	<h1 style = "position: relative; top: 10px; "> <b> MUGAlyser<!--  &emsp; &emsp; Current Batch: {{ batch }}  --></b> </h1>
	<br>

</body>
</html>