<!DOCTYPE html>
<html lang="en">
<head>
    <title>MUG Members</title>
    <style type="text/css">
    	.mem-list {
    		list-style-position: inside;
		    column-count: 7;
		    column-gap: 20;
		    margin-left:0;
		    padding: 0;
		}
	</style>
</head>
<body>
	<a href="/">Home</a>&emsp;<a href="/login">Login</a>&emsp;<a href="signup">Signup</a>&emsp;<a href="groups">Groups</a>&emsp;<a href="graph">Graph</a>&emsp;<a href="logout">Logout</a>
	<p>
    <ul class="mem-list">
    {% for member in members %}
        <li><a href="/user/{{ member }}">{{ member }}</a>&emsp;
    {% endfor %}
    </ul>

</body>
</html>