<!DOCTYPE html>

<html>
  <head>
    <title>{{ error }}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
      .succ {color: green}
      .reset {background-color: white; width: 30%; padding: 8px; margin: auto; margin-top: 5%; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);}
      .reset .butt {background-color: #439744;}
      .reset a {font-size: 11px;}
      .reset input{outline: 0;background: #f2f2f2; border: 0;padding: 10px;box-sizing: border-box;font-size: 13px;}
    </style>
    <link rel="shortcut icon" href="/static/favicon.ico">

  </head>

  <body>

  <h4 style="margin:auto; margin-top: 15px; text-align:center">Please enter a new password</h4>
    <div align = "center" class = "reset" style = "margin-top:10px">
      <form method="post">
        <table>
          <tr>
          <text style = "color: red;"> {{error}} </text>           
          <tr>
           
            <td>
              <input type="password" name="password" placeholder = "password">
            </td>
          </tr>

          <tr>
            <td>
              <input type="password" name="verify" placeholder = "verify password">
            </td>
            
          </tr>

        </table>

        <input class = "butt" type="submit">

      </form>

      </div>
  </body>

</html>
