<!DOCTYPE html>

<html>
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
      .done {color: green}
      .signup {background-color: white; width: 30%; padding: 8px; margin: auto; margin-top: 5%; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);}
      .signup .butt {background-color: #439744;}
      .signup a {font-size: 11px;}
      .signup input{outline: 0; background: #f2f2f2; border: 0;padding: 10px;box-sizing: border-box;font-size: 13px;}
    </style>
    <link rel="shortcut icon" href="/static/favicon.ico">
  </head>

  <body>
    <div class = "menu">
      <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/members/0">Member List</a></li>
      <li><a href="/groups">Groups</a></li>
      <li class = "dropdown">
        <a href="javascript:void(0)" class="dropbtn">Graphs</a>
        <div class="dropdown-content">
          <a href="/graph">Member Count</a>
          <a href="/graph/yearly">RSVP</a>
        </div>
      </li>
      </ul>
    </div>
    <p>
    <div align = "center" class = "signup">
      <form method="post">
        <table align = "center">
          <tr>
            <td>
              <input type="text" name="username" placeholder = "username" value="{{username}}">
            </td>
          </tr>

          <tr>
          <text style = "color: red;"> {{error}} </text>
          </tr>

          <tr>
            <td>
              <input type="password" placeholder = "password" name="password" value="">
            </td>
<!--             <td class="error">
  	    {{password_error}}
              
            </td> -->
          </tr>

          <tr>
            <td>
              <input type="password" placeholder = "verify password" name="verify" value="">
            </td>
<!--             <td class="error">
  	    {{verify_error}}
              
            </td> -->
          </tr>

          <tr>
            <td>
              <input type="email" placeholder = "email" name="email" value="{{email}}" required>
            </td>
<!--             <td class="error">
  	    {{email_error}}
              
            </td> -->
          </tr>
        </table>

        <input type="submit" class = "butt" value = "SIGNUP">

      </form>
    </div>
  </body>

</html>
